.input-toon {
  font-size: 24px;
  padding: 15px;
  width: 300px;
  text-align: center;
  border: 3px solid #ffcc00;
  border-radius: 10px;
  background: #222;
  color: white;
  font-family: "Arial", sans-serif;
  outline: none;
}

.input-toon:focus {
  border-color: #ffffff;
  box-shadow: 0 0 10px #ffcc00;
}
